/*General*/
body {
    margin: 0;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FCF6F5FF;
}

* {
    box-sizing: border-box;
}

/*Table Properties For About Me page*/
.tableAbout {
    width: 94%;
    border: 0px solid black;
    border-collapse: collapse;
    color: black;
}

/*Navigation Bar*/
#navbar {
    overflow: hidden;
    background-color: #FCF6F5FF;
    padding-top: 15px;
    padding-right: 25px;
    z-index: 10000;
    position:sticky; 
    top: 0; 
    width: 100%; 
}

#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px 10px 0px 0px;
}

#navbar a:hover {
    background-color: #ffffff00;
    color: #B0B8B4FF;
}

#navbar a.active {
    background-color: #ffffff00;
    color: #008C76FF;
}

/*Content ID Properties*/
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/*Section*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-image: url(mafu.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.right {
    right: 0;
    background-color: #ffffff00;
}

/*Animation*/
.slide-right {
    overflow: hidden;
    animation: slide-right 2s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}

.slide-left {
    overflow: hidden;
    animation: slide-left 2s forwards;
    transform:translateX(100%);
}

@keyframes slide-left {
    to {
        transform:translateX(0);
    }
}

/*Resume table properties*/
.column {
    float: left;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Meter Properties*/
meter::-webkit-meter-optimum-value {
    background: #2ECC71;
}

/*Google Map*/
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
}

.gmap_iframe {
    height:400px!important;
}

/*Submit Form Button*/
.buttonStyle {
    background-color: white; 
    color: black; 
    border-radius: 8px;
    border: none;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
}

.buttonStyle:hover {
    background-color: #4CAF50;
    color: white;
}

/*Index Page Properties*/
#dcenter {
    text-align: center;
    padding-top: 17%;            
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

#tablecss {
    color: #f1f1f1;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#bodyIndex {
    margin: 0;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F0F3F4;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}